[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
requests = "*"
bs4 = "*"
uvicorn = "*"

[dev-packages]
pylint = "*"
bandit = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
